body {
    font-family: 'inter', serif;
    margin: 0;
    padding: 0 1em;
  
}

/* Nav styles */

nav {
    position: sticky;
    width: 100%;
    justify-content: center;
}

.data {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    max-width: 1300px;
    margin: 8px auto;

}

.logo-container {
    display: flex;
    justify-content: flex-start;
    flex: 0 5 25%;
    width: auto;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    gap: 0.5em;
    margin: 0;
}

.nav-items-list {
    font-size: 0.875rem;
    background-color: #F4F4F5;
    color: #26272B;
    padding: 1em;
    border-radius: 8px;
}

#nav-border-1 {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

#nav-border-2 {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    flex: 0 5 25%;
    gap: 0.5em;
    
}

.btn-pri {
    font-weight: Medium;
    background-color: #26272B;
    color: #fff;
    border: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1em;
}

.btn-sec {
    font-weight: Medium;
    background-color: #F4F4F5;
    color: #26272B;
    border: none;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1em;
}

/* Typography */

h1 {
    font-size: 5.125rem;
    font-weight: 200px;
    font: 'polysans';
    color: #26272B;
    margin-bottom: 32px;
    margin-top: 0;
}

h5 {
    font-size: 1.375rem;
    color: #70707B;
    font-weight: 300;
    margin: 0;
    line-height: 2.2rem;
    margin-bottom: 32px;
}

p {
    font-size: 1.125rem;
    color: #70707B;
    margin: 0;
    line-height: 1.938rem;
    font-weight: 100;
}

/* hero Section */

.Hero-Section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.Announcement-Container {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
}

.Announcement-Pill {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background-color: #F4F4F5;
    padding:  0.5em;
    padding-right: 0.75em;
    border-radius: 22px;
}

.Pill-text-1 {
    background-color: #155EEF;
    color: #F4F4F5;
    padding: 0.5em;
    border-radius: 13px;
    font: 0.75rem;
    margin: 0;
}

.Pill-text-2 {
    font-size: 0.875rem;
    font-weight: lighter;
    color: #26272B;
    line-height: 0.875rem;
    margin: 0;
}

.Pill-text-2-bold {
    font-weight: 900;
}

.Container {
    display: flex;
    align-items: center;
    margin: 80px auto;
    max-width: 1120px;
    column-gap: 32px;
}

.Hero-Image {
    width: 22.5em;
    height: 22.5em;
    max-width: 100%;
}

.hero-btn {
    padding: 1em 2em;
    border: none;
    background-color: #26272B;
    color: white;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375;
}

/* Trust Styles */

trust {
    width: 100%;
    padding: 0;
    margin: 0;
}

.Trust-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    max-width: 1120px;
    column-gap: 32px;
}

.trust-header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
}

.Logos-container-1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.Logo-1 {
    width: 117px;
    height: 26.42px;
}

.Logo-2 {
    width: 117px;
    height: 26.42px;
}

.logo-3 {
    width: 152.09px;
    height: 26.42px;
}

.logo-4 {
    width: 123.34px;
    height: 25.97px;
}

.logo-5 {
    width: 165.2px;
    height: 26.42px;
}

.logo-6 {
    width: 139.11px;
    height: 25.97px;
}

.logo-7 {
    width: 135.48px;
    height: 26.42px;
}

.logo-8 {
    width: 173.33px;
    height: 25.45px;
}

.logo-9 {
    width: 152.95px;
    height: 25.97px;
}

.logo-10 {
    width: 145.14px;
    height: 25.97px;
}

/* Api Styles */

API {
    width: 100%;
    padding: 0;
    margin: 0;
}

.api-container {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    justify-content: center;
    max-width: 1120px;
    align-items: center;
}